.container {
  width: 80%;
  margin: 0 auto;
  padding: 1em 0;
}

.banner {
  height: 15vh;
  color: #fff;
  border-radius: 8px;
  background: url("https://images.pexels.com/photos/2908984/pexels-photo-2908984.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
}
