<h3>Add a Book</h3>
<form>
    <div fxLayout="row" fxLayoutGap="8px">
        <div class="text-content-input">
            <div fxLayout="row" fxLayoutGap="8px">
                <input placeholder="Please enter Book name">
                <input placeholder="Please enter Author name">
            </div>
            <textarea name="description" id="desc" cols="30" rows="10"></textarea>
        </div>

        <div class="image-content-input">
            <input type="file">
            <div class="image-preview"></div>
        </div>
    </div>




</form>